{% extends 'base.html.twig' %}

{% block title 'Contact' %}

{% block body %}
    <div class="example-wrapper">
        <h1>Contact</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit">Send</button>
        {{ form_end(form) }}
    </div>
{% endblock %}